<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-1182">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">Our Featured Gallery</h2>
        </div>
        <div class="cs-gallery">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/1.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/1.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/2.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/2.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/2.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/3.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/3.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/3.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/4.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/4.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/4.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/5.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/5.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/5.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/6.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/6.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/6.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/7.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/7.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/7.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/8.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/8.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/8.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/9.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/9.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/9.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/10.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/10.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/10.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/1.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/11.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/11.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/12.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/12.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/12.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/13.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/13.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/13.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/14.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/14.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/14.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/15.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/15.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/15.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/16.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/16.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/16.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/17.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/17.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/17.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/18.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/18.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/18.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/19.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/19.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/19.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/20.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/20.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/20.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/21.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/21.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/21.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/22.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/22.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/22.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/23.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/23.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/23.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/24.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/24.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/24.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/25.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/25.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/25.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/26.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/26.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/26.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/27.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/27.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/27.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/28.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/28.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/28.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/29.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/29.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/29.webp" alt="picture" width="480" height="549">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/gallery/main-gallery/30.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/gallery/main-gallery/30.webp">
                <img loading="lazy" decoding="async" src="/assets/gallery/main-gallery/30.webp" alt="picture" width="480" height="549">
            </picture>
        </div>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1182 {
        padding: var(--sectionPadding);
        padding-left: 0;
        padding-right: 0;
    }
    #gallery-1182 .cs-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-1182 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        padding: 0 1rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-1182 .cs-title {
        margin: 0;
    }
    #gallery-1182 .cs-gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #gallery-1182 .cs-picture {
        width: 100%;
        height: 67vw;
        /* makes it square */
        aspect-ratio: 1;
        display: block;
        grid-column: span 5;
        grid-row: span 1;
        position: relative;
    }
    #gallery-1182 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;
    }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #gallery-1182 {
        flex-direction: row;
    }
    #gallery-1182 .cs-picture {
        grid-column: span 2;
        height: 23vw;
    }
}

                                
</style>